.nav {
  border-right: 2px solid #a29494fe;
  display: flex;
  flex-direction: column;
}
.nav > * {
  text-decoration: none;
  color: #000;
  margin: auto 0;
}
.padd {
  margin-right: 7px;
  text-decoration: none;
  color: #000;
}
