.section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.imageText {
  color: #db4444;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.arrow {
  margin: 0 5px;
}
.circle:hover {
  fill: #727070;
}
.path:hover {
  stroke-width: 5;
}

/* edhe qit file duhet me hjek amo masi qe te ndreqi newArrival folder */
