.mainDiv {
  width: 55%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.secondDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.h1 {
  font-size: 32px;
  font-weight: bold;
}
