.section {
  width: 80%;
  margin: auto;
  border-bottom: 2px solid #a29494fe;
}
.buttonStyle {
  background-color: #db4444;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  display: block;
  margin: 40px auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttonStyle:hover {
  background-color: #fff;
  color: #db4444;
  border: 1px solid #db4444;
}