.topHeader {
  display: flex;
  align-items: center;
  height: 6vh;
  background-color: #000;
}
.mainDiv {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  color: #fafafa;
}
.leftDiv {
  display: flex;
}
.link {
  color: #fafafa;
  font-weight: 600;
  margin-left: 10px;
}
.select {
  border: none;
  outline: none;
  background-color: #000;
  color: #fafafa;
}