.main {
  margin: 5vh auto;
  display: flex;
  width: 80%;
}
.leftSection {
  width: 50%;
}
.rightSection {
  width: 30%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.form > * {
  margin-bottom: 20px;
}
.form input {
  border: none;
  outline: none;
  border-bottom: 2px solid #a29494fe;
}
.form button {
  height: 40px;
  background-color: #db4444;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form button:hover {
  background-color: #fff;
  color: #db4444;
  border: 1px solid #db4444;
}
.logIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a4a4a4;
}
.logIn > a {
  color: #4d4a4a;
}
