.article {
  width: 80%;
  margin: 50px auto;
  display: flex;
  background-color: #000;
}
.leftDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px;
}
.leftDiv > * {
  margin-bottom: 15px;
}
.categories {
  color: #00ff66;
  font-size: 16px;
}
.enhance {
  font-size: 42px;
  color: #fafafa;
}
.button {
  width: 130px;
  padding: 15px 10px;
  font-weight: bold;
  color: #fafafa;
  background-color: #0f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  border: 1px solid #0f6;
  color: #0f6;
  background-color: #fff;
}
.rightDiv {
  padding: 15px;
  background-image: radial-gradient(white 1%, black 70%);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
